*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:rgb(227, 144, 158);
    --primary-color-bright: rgb(226, 106, 126);
}

h1{
    font-size: 40px;
}

.container{
    width: 90%;
    margin: auto;   
}

.flex{ display: flex;}
.justify-center{ justify-content: center;}
.justify-between{ justify-content: space-between;}
.align-center{ align-items: center;}

.text-primary{
    color: var(--primary-color);
}

.button-primary{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color-bright);
    color: white;
    text-decoration: none;
    margin-top: 2rem;
    box-shadow: 2px 2px 5px #ddd;
    transition: 0.2s ease-in;
    border: none;
    font-size: 1rem;
}
.button-primary:hover{
    background-color: #222;
}